-list
    -sequential(ordered)
    -mixed datatyp
    -can be empty
    -is mutable 
    -can have duplicates 
    -represent as []in python
    -list function creates a list

what u are going to learn 
-creation
-indexing and slicing 
-methods
-comprehension

In [1]:
a=[] # empty

In [2]:
b = [23,34,12,56,78] # numeric
c=['Alex','Ann','Billy']
d=['alex',300,'anna',320,'billy',230]
e=[[1,2,3],[2,3,4],[4,5,6]]
f=[1]*10

In [3]:

print(b)
print(c)
print(d)
print(e)
print(b)
print(c)

[23, 34, 12, 56, 78]
['Alex', 'Ann', 'Billy']
['alex', 300, 'anna', 320, 'billy', 230]
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[23, 34, 12, 56, 78]
['Alex', 'Ann', 'Billy']

In [5]:
word='wikipedia'
charlist = list (word)
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [6]:
charlist[-1]

'a'

In [7]:
charlist[0]

'w'

In [8]:
charlist[:4]

['w', 'i', 'k', 'i']

In [9]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [10]:
charlist[::-1]

['a', 'i', 'd', 'e', 'p', 'i', 'k', 'i', 'w']

In [11]:
charlist.reverse()

list  has 11 method
   -adding items
    -append()
    insert()
    -extend()
   -removing items
    -remove()

In [14]:
numbers =[]
numbers.append(2)
numbers.append(3)
numbers.append(5)
print(numbers)

[2, 3, 5]

In [18]:
for i in range(5):
    v = int (input("enter a number:"))
    numbers.append(v)
    print(numbers)

[2, 3, 5, 3, 4, 5, 2]
[2, 3, 5, 3, 4, 5, 2, 3]
[2, 3, 5, 3, 4, 5, 2, 3, 4]
[2, 3, 5, 3, 4, 5, 2, 3, 4, 5]
[2, 3, 5, 3, 4, 5, 2, 3, 4, 5, 6]

In [19]:
print(numbers)

[2, 3, 5, 3, 4, 5, 2, 3, 4, 5, 6]

In [20]:
numbers.remove(3)

In [21]:
print(numbers)

[2, 5, 3, 4, 5, 2, 3, 4, 5, 6]

In [22]:
numbers.(23)

SyntaxError: invalid syntax (2243367105.py, line 1)

In [23]:
numbers

[2, 5, 3, 4, 5, 2, 3, 4, 5, 6]

In [25]:
numbers.insert(2,4)
print(numbers)

[2, 5, 4, 4, 3, 4, 5, 2, 3, 4, 5, 6]

In [28]:
numbers.insert(3,12) # insert at index 23 will put the data at end of the list , as we dont have a index 23 in the list

In [29]:
print(numbers)

[2, 5, 4, 12, 4, 3, 4, 5, 2, 3, 4, 5, 6]

In [30]:
numbers.pop(3)

12

In [31]:
print(numbers)

[2, 5, 4, 4, 3, 4, 5, 2, 3, 4, 5, 6]

In [32]:
numbers.pop()

6

In [33]:
print(numbers)

[2, 5, 4, 4, 3, 4, 5, 2, 3, 4, 5]

In [34]:
numbers.clear()
print(numbers)

[]

In [36]:
x = [1,2,3]
y = [4,5,6]
# merge a list into an other 
x.extend(y)
print(x)
print(y)
x.append(y)
print(x)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [37]:
x+y

[1, 2, 3, 4, 5, 6, [4, 5, 6], 4, 5, 6]

In [38]:
z = x+y
print(z)

[1, 2, 3, 4, 5, 6, [4, 5, 6], 4, 5, 6]

In [39]:
del a

In [40]:
del b[2]

In [41]:
del d,e,f

In [42]:
del i, charlist , numbers , y , x , word

In [53]:
primes=[]
for num in range(2,1000):
    for i in range (2,num):
        if num % i ==0:
            break
        else:
            pass
    else:
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

WAP a program to calculate total number of a list , where the values are entered by the user

WAP TO REMOVE EVERY THREE ITEM OF THE LIST

WAP TO ADD EVERY 3 ITEM OFF THE LIST , AND STORE THE RESULT AT THE END OF THE LIST

In [9]:
x = [1,2,3,4,5,6,7,8,9]
element = x

In [10]:
x.pop(every three element of list):
print(x)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2068088804.py, line 1)

In [15]:
ele=0
total=0
list=[11,2,3,4,5,6,7]
for ele in range (ele<len(list)):
    total=total+list[ele]
    ele+=1
print('sum of all numbers given in the list:',+total)

sum of all numbers given in the list: 11

In [16]:
x = []
for i in range (5):
    inp = int(input('>enter a number:'))
    x.append(inp)
    total = sum(x)
    print("total=>",total)

total=> 1
total=> 3
total=> 6
total=> 10
total=> 12

In [19]:
for i,v in enumerate(x):
    print(i,v)

0 1
1 2
2 3
3 4
4 2

In [20]:
a =[1,2,3,4,5,6,1,2,3,4,5,6,7,8,9,1,2,3,3,4,4,7,8,9,10,11,12]
ev3 = []
for i ,v in enumerate (a):
    print(i,v)

0 1
1 2
2 3
3 4
4 5
5 6
6 1
7 2
8 3
9 4
10 5
11 6
12 7
13 8
14 9
15 1
16 2
17 3
18 3
19 4
20 4
21 7
22 8
23 9
24 10
25 11
26 12

In [22]:
pos = (i+1)
print(pos,v)

27 12

In [25]:
if pos%3== i+1:
   ev3.append(v)
print(ev3)

[]

In [26]:
for item in ev3:
    a.remove(item)
print(a)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 3, 4, 4, 7, 8, 9, 10, 11, 12]

In [27]:
x = [1,2,3,4,5,6,7,8,9,1,0,1,1,1,2,1,3,1,4,1,5,1,6,1,7,1,8,1,9]

In [28]:
x.count(3)

2

In [29]:
x.count(5)

2

In [34]:
names =['Desmond','Alex','Sasmus','Jerry']

In [40]:
names.index('Alex')

2

In [38]:
names.reverse()
print(names)

['Jerry', 'Sasmus', 'Alex', 'Desmond']

In [41]:
names.sort()
print(names)

['Alex', 'Desmond', 'Jerry', 'Sasmus']

In [42]:
x.sort()
print(x)

[0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9]

In [43]:
x.reverse()
print(x)

[9, 9, 8, 8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 3, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0]

In [44]:
x.sort(reverse=True)
print(names)

['Alex', 'Desmond', 'Jerry', 'Sasmus']

In [45]:

names

['Alex', 'Desmond', 'Jerry', 'Sasmus']

In [46]:
backup = names

In [47]:
backup_v2 = names.copy

In [48]:
names.remove('Alex')

In [51]:
print(names)
print(backup)
print(backup_v2)

['Desmond', 'Jerry', 'Sasmus']
['Desmond', 'Jerry', 'Sasmus']
<built-in method copy of list object at 0x0000025F7CAE4640>

In [ ]:
for idx , item in enumerate (backup_v2):
    print (id)

mutable and immutable

In [2]:
quote = 'i am a very simple person '
names = ['Desmond','Alex','Sarmus']

In [3]:
quote[7] = W

NameError: name 'W' is not defined

In [4]:
names[2]= 'markus'

In [5]:
print(names)

['Desmond', 'Alex', 'markus']